.carrito{
  background-color: #ffad5b;
  width: 89%;
  margin-bottom: 20px;
}
.carrito2{
  background-color: #ffad5b;
}
.navbar{
  background: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.btn-dark{
  position: relative;
  left: 10px;
}
.carro{
  background-color: #E0DFDE;
}



ul.navbar li a{
  color: black;
  font-size: 17px;
}
.botonEliminar{
  position: relative;
  float: left;
  top: 100px;
}

ul.nav li a{
  color: black;
  font-size: 17px;
}
a{
  color: orange;
}
.cuerpo {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    left: 0%;
}
.compras {
    width: 100%;
    float: left;
}
.compra{
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  display: block;
  margin-top: 40px;
  margin-right: 0px;
  border-radius: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}
.texto{
  position: relative;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
  width: 224px;

}
.imagen{
  position: relative;
  margin-left: 271px;
}
.perfil{
  display: none;
  background-color: white;
  width: 350px;
  height: 600px;
  margin-top: 40px;
  margin-left: 40px;
  padding-left: 15px;
  padding-top: 15px;
  float: left;
  box-sizing: border-box;
  border-radius: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.logoPerfil img{
  border-radius: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
@media only screen and (min-width: 1024px){
  .perfil{
    display: block;
    background-color: white;
    width: 350px;
    height: 600px;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 15px;
    padding-top: 15px;
    float: left;
    box-sizing: border-box;
  }
  .compras {
      width: 58%;
      float: left;
  }
  .imagen {
      position: relative;
      margin-left: 352px;
  }
  .cuerpo {
      position: relative;
      width: 66%;
      margin: 0 auto;
      overflow: hidden;
      left: 0%;
  }
}


@media (min-width: 768px) and (max-width: 1024px){
  .cuerpo {
      position: relative;
      width: 48%;
      margin: 0 auto;
      overflow: hidden;
      left: 0%;
  }
}
