a.nav-link{
  color: black;
}
@media (min-width: 450px) and (max-width: 768px){
  .dropdown-menu.show {
    position: absolute;
    transform: translate3d(584px, 219px, 0px);
    top: 0px;
    left: -400px;
    will-change: transform;
  }
}
