
.fondo{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}
.fondo2{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}
ul.navbar li a{
  color: black;
  font-size: 17px;
}
.navbar{
  background: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

ul.nav li a{
  color: black;
  font-size: 17px;
}
a{
  color: orange;
}
.pos-f-t{
  position: relative;
  display:block;
}
.cabeza{
  position: relative;
  display: none;
}
body{
  background-color: #E0DFDE;
}
ul.navbar{
  margin-bottom: 0px;
}
ul.navbar li{
  list-style: none;
}

nav.navbar.navbar-dark.bg-dark{
  width: 100%;
}
.navbar-dark .navbar-toggler{
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  margin: 0 auto;
}
p.email,p.password{
}
div.contenedor{
  width: 100%;
}
input#email, input#password , input#nombre, input#passwordConfirm{
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-radius: 7px;
  width: 100%;
}
div.logo{
  display: none;
}
form{
  position: relative;
  top: 25px;
  width: 50%;
  margin: 0 auto;
}
p.email, p.password{
  margin-bottom: 20px;
}
h2{
  margin-top: 10px;
}
p.coment,p.coment2, h2{
  text-align: center;
  color: grey;
}
input.boton{
  width: 100%;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  background-color: rgba(0,0,0,0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
p.coment2{
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
@media (min-width: 768px) and (max-width: 1024px){

}
@media only screen and (min-width: 1024px){
  .cuerpo{
    margin-top: 100px;
  }
  .pos-f-t{

    display:none;
  }
  .cabeza{

    display: block;
  }
  div.info{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }

  p.coment2{
    border-bottom:;
  }

  div.logo{
    display: block;
    float: left;
    position: relative;
    left: 15%;
    top: 60px;
  }
  div.logo img{
    width: 300px;
    height: 300px;
  }
  div.logo h3, div.logo p{
    color: grey;
  }
  form{
    width: 30%;
    margin-top: 30px;
    position: relative;
    left: 20%;
  }
  iframe{
    margin-top: 30px;
    position: relative;
    left: 35%;
  }
  .navbar-dark .navbar-toggler{
    position: relative;
    right: 47%;
  }
}
