p.error{
  color: red;
}


@media only screen and (min-width: 1024px){
  ul.nav li a {
      color: black;
      font-size: 17px;
      float: left;
  }
div.contenedor{
  width: 100%;
  height: 900px;
  margin-bottom: 30px;
}
div.cuerpo{
  height: 500px;
  overflow: hidden;
}
a.dropdown-toggle{
  position: relative;
  left: 700px;
  float: right;
  width: 200px;
}
}
.navbar-dark .navbar-toggler {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0 auto;
    background-color: #ffad5b;
}
.navbar-dark .navbar-toggler-icon{
  background-color: #ffad5b;
}
.navbar{
  background-color: rgb(255, 255, 255);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
