
.invisible{
  display: none;
}
.productoPerfil{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 250px;
  width: 80%;

}
.productoPerfil2{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 80%;

}
.tituloProduct{
  position: relative;
  top: 170px;
}
.tituloCompra{
  text-align: center;
  color: grey;
}
.botones{
  margin-bottom: 10px;
}
.cadaP{
  background-color: white;
  position: relative;
  float: left;
  margin-right: 25px;
  margin-bottom: 30px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
ul.navbar li a{
  color: black;
  font-size: 17px;
}
a{
  color: orange
}
ul.nav li a{
  color: black;
  font-size: 17px;
}
.pos-f-t{
  position: relative;
  display:block;
}
.cabeza{
  position: relative;
  display: none;
}
body{
  background-color: #E0DFDE;
}
ul.navbar{
  margin-bottom: 0px;
}

ul.navbar li{
  list-style: none;
}

nav.navbar.navbar-dark.bg-dark{
  width: 100%;
}
.navbar-dark .navbar-toggler{
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  margin: 0 auto;
}
div.contenedor{
  width: 100%;

}
div.cuerpo{
  margin-bottom: 30px;

  overflow: hidden;
}
div.logo{
  position: relative;
  top: 60px;
}
div.logo img{
  background-color: white;
  width: 375px;
  height: 375px;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border-radius: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
div.usuario{
  position: relative;
  margin-top: 65px;

}
div.usuario h5, div.usuario label{
  position: relative;
  top: 25px;
  width: 50%;
  margin: 0 auto;
  left: 2%;
  color: grey;
}
h2{
  margin-top: 10px;
  text-align: center;
  color: grey;
}
p.coment2{
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
@media (min-width: 768px) and (max-width: 1024px){
  div.logo{
    position: relative;
    top: 60px;
    width: 50%;
    margin: 0 auto;
  }
  div.usuario{
    margin-top: 100px;

  }
  div.contenedor{

  }
}

@media (min-width: 1025px){
  .pos-f-t{

    display:none;
  }
  .cabeza{

    display: block;
  }
  div.info{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  .navbar{
    background: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  div.info2{
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    top: 150px;
  }
  div.contenedor{
    width: 100%;
    margin-bottom: 30px;
  }
  div.cuerpo{
    margin-bottom: 30px;
  }
  p.coment2{
    border-bottom:;
  }
  div.logo{
    position: relative;
    float: left;
    left: 15%;
    top: 60px;

  }
  div.usuario h5, div.usuario label{
    position: relative;
    top: 25px;
    width: 50%;
    margin: 0 auto;
    left: 20%;
    color: grey;
  }
  div.usuario h5{
    margin-bottom: 50px;
  }

  div.logo img{
    width: 400px;
    height: 400px;
  }
  div.usuario{
    margin-top: 30px;
    position: relative;
    left: 15%;
  }
  .navbar-dark .navbar-toggler{
    position: relative;
    right: 47%;
  }
  .carrito{
    background-color: #ffad5b;
  }
}
